.App {
    text-align: center;
    padding: 20px;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  